h3 Deck List
table.table.table-striped
    thead
        tr
            th Test
    tbody
        
        style.
            test {
                font-size: 24px;
                color: #000000;
            }
        
        each item in data
            tr
                td
                    test= "zing"
