h5 Search
.row
    .col-md-8
        .form-group.form-group-default
            label Deck
            input#deck.form-control(type='text', required='')
    .col-md-4
        button.btn.btn-primary(onClick='deck.listGames($("#deck").val())') Search
