.row
    .papyrus(style='color: rgb(208, 177, 22); margin-top: 10px; margin-left: 15px;') Deck UI
.row
    .col-md-2
        button.btn.btn-primary(onClick='deck.postTest(event)') PostTest
    .col-md-2
        button.btn.btn-primary(onClick='deck.resetDeck(event)') Reset Deck
    .col-md-2
        button.btn.btn-primary(onClick='deck.sortByRarity()') Sort By Rarity
    .col-md-2
        button.btn.btn-primary(onClick='deck.sortByCmc()') Sort By Cost
    .col-md-2
        button.btn.btn-primary(onClick='deck.sortByColor()') Sort By Color
    .col-md-2
        button.btn.btn-primary(onClick='deck.saveDeck()') Save Deck
.row
    .col-md-4
        .papyrus(style='color: rgb(208, 177, 22); margin-top: 10px; margin-left: 15px;') Upload Deck
            input#deckLoaded(type='file')
    .col-md-4
        button.btn.btn-primary(onClick='deck.loadDeck($("#deckLoaded").val())') Show Uploaded Deck
