h3 Deck View
table.table.table-striped
    thead
        tr
            th
    tbody
        each item in data
            tr
                if item.mult_id > 0
                    script.
                        //var cardObj = !{JSON.stringify(item)};
                        //console.log("Card object: ", cardObj);
                    button.btn.btn-primary(onClick='deck.removeCard(#{JSON.stringify(item)})')
                        img(src="https://api.mtgdb.info/content/hi_res_card_images/" + item.mult_id + ".jpg", height=333)
