h3 Results
table.table.table-striped
    thead
        tr
            th
    tbody
        each item in data
            tr
                img(src="https://api.mtgdb.info/content/hi_res_card_images/" + item.editions[0].multiverse_id + ".jpg", height=280)



