h3 Results
table.table.table-striped
    thead
        tr
            th
    tbody
        each item in data
            each edition in item.editions
                tr
                    if edition.multiverse_id > 0
                        script.
                            //var card = !{JSON.stringify(item)};
                            //var cardEditionObj = !{JSON.stringify(edition)};
                            //console.log("Card object: ", card);
                            //console.log("Image id: ", cardEditionObj.multiverse_id);
                        button.btn.btn-primary(onClick='deck.addCard(#{JSON.stringify(item)}, #{JSON.stringify(edition)})')
                            img(src="https://api.mtgdb.info/content/hi_res_card_images/" + edition.multiverse_id + ".jpg", height=331, onError="this.src = '/mtgdeckbuilder/cards/Magic_Card_Back.png'")
