h3 Results
table.table.table-striped
    thead
        tr
            th
    tbody
        each item in data
            each edition in item.editions
                tr
                    if edition.multiverse_id > 0
                        script.
                            console.log(!{JSON.stringify(item)});
                        button.btn.btn-primary(onClick='deck.addCard(!{JSON.stringify(item)})')
                            img(src="https://api.mtgdb.info/content/hi_res_card_images/" + edition.multiverse_id + ".jpg", height=280)
                            



